body {
    margin: 0 auto;
}

span, h2, h5 {
    margin: 0;
    font-weight: bold;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
}

h2 {
    color: black;
}

h5 {
    line-height: 1.334;
    color: black;
    font-family: PoynterOldstyle, serif;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.4993rem;
}

span {
    color: #921421;
}

a{
    text-decoration: none;
    color: black;
}

header {
    max-width: 990px;
    margin: 0 auto;
}

.width_page {
    max-width: 990px;
    margin: 0 auto;
    padding: 8px;
}

.bordobasso_chiaro {
    border-bottom: 1px solid;
    border-color: #e6e6e6;
}

.bordobasso_scuro {
    border-bottom: 1px solid;
    border-color: #CBCFD3;
}

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-right: 8px;
    overflow: hidden;
    background-color: white;
    height: 44px;
}

.social a {
    display: inline-block;
    text-align: center;
}

.social li {
    float: right;
}

.left-margin {
    margin-left: 16px;
}

#logo-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 96px;
}

#logo-grid img {
    margin-right: 8px;
}

#logo-grid p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: ITCFranklinGothicStd-Book, serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
}

.accedi-abbonati {
    display: flex;
    align-items: center;
    gap: 20px;
}

#menu_bar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #063a74;
    list-style-type: none;
    overflow: hidden;
    padding: 8px 4px;
}

#menu_bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#menu_bar li {
    padding: 8px 6px;
}

#menu_bar a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    color: white;
}

.edition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.edition h6 {
    margin: 0;
    font-size: 1.1429rem;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
}

.edition ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e6e6e6;
    margin-top: 4px;
    border-bottom: 1px solid;
    border-color: #8c8e91;
    color: black;
}

.video h2 {
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.video_slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.video_slide a img {
    width: 100%;
    height: 100%;
    max-width: 228px;
    max-height: 128px;
}

.video_slide span {
    line-height: 1.25;
    font-size: 1rem;
    text-align: left;
}

.video_slide h2 {
    margin-top: 4px;
    font-size: 1rem;
    text-align: left;
}

#PrimoPianoNews {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4px;
    border-bottom: 1px solid;
    border-color: #8c8e91;
}

.normal_span {
    text-align: left;
    font-size: 1.1429rem;
    line-height: 1.2;
    max-width: 100%;
}

.normal_h2 {
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.2;
    max-width: 100%;
}

.PPNgrande {
    max-width: 66%;
    padding-bottom: 12px;
    float: left;
}

.PPNgrande a img{
    width: 100%;
    height: 100%;
    max-width: 644px;
    max-height: 362px;
}

.PPNgrande a {
    margin: 0;
    display: flex;
    background-color: inherit;
    border-radius: 0;
    padding: 0;
    flex-direction: column;
}

.PPNgrande h2 {
    font-size: 2.0243rem;
    line-height: 1.334;
    text-align: left;
    padding: 8px 0;
    margin-top: 4px;
}

.autore {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.57;
    text-align: left;
    color: black;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    font-weight: 700;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.PPNpiccolo {
    flex-basis: 33%;
    flex-grow: 0;
    max-width: 33%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    margin: 0;
    flex-direction: row;
    padding-right: 0;
    padding-left: 6px;
    float: right;
    border-bottom: 1px solid;
    border-color: #CBCFD3;
}

.PPNpiccolo a {
    margin: 0;
    padding-bottom: 12px;
    max-width: 100%;
}

.PPNpiccolo a img{
    width: 100%;
    height: 100%;
    max-width: 318px;
    max-height: 180px;
}

.PPNpiccolo a h2 {   /*da cambiare*/
    margin-top: 4px;
}

.news_small {
    font-size: 1.1429rem; ;
    line-height: 1.2 ;
    margin-top: 4px ;
    font-weight: bold ;
    text-align: left ;
    color: black ;
}

#PrimoPianoNewsMinor {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    flex-direction: row;
}

.news_slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.news_slide_single {
    flex-basis: 33%;
    flex-grow: 0;
    max-width: 33%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 0;
}

.news_slide_single a {
    margin: 0;
    border-radius: 0;
    padding-bottom: 12px;
    border: 0;
    line-height: 1;
}

.news_slide_single a img{
    width: 100%;
    height: 100%;
    max-width: 318px;
    max-height: 180px;
}

.news_slide_single h2 { /*da cambiare*/
    margin-top: 4px;
}

#Network {
    width: 100%;
    line-height: 1.2;
}

.network_slide {
    gap: 20px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    margin: 12px 0;
}

.network_slide_single {
    display: block;
    height: 100%;
    min-height: 1px;
    padding: 8px;
    line-height: 1.2;
    background-color: #063A74;
    margin: 0;
}

.network_slide_single a img {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 290px;
    max-height: 77px;

}

.centra-bottoni {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.bottoni-linea {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    margin: 5px;
    gap: 5px;
    position: relative;
    list-style: none;
    text-align: center;
    background-color: transparent;
    line-height: 1.2;
}

.bottoni-linea li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bottoni-linea li button {
    width: 30px;
    height: 10px;
    padding: 0;
    border: none;
    background-color: #b0c4de;
    color: transparent;
    font-size: 0;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s ease;
    line-height: 0;
    border: 0;
}

.bottoni-linea li.slick-active button {
    background-color: #002d62;
}


#Evidenza {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 4px;
    background-color: white;
    line-height: 1.2;
    align-items: flex-start;
}

#Evidenza a {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 0;
}

.long {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
}

.smaller{
    margin-top: 4px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
}


.equa_divisione{
    width: 50%;
}

.smaller a img{
    width: 100%;
    height: 100%;
    max-width: 316px;
    max-height: 178px;
}

section.smaller a{ /* da modificare */
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

section.smaller a article{
    margin-left: 11px;
}



.greater {
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    line-height: 19px;
    margin-top: 8px;
    width: 100%;
}

.news_colomn {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 0;
    width: 100%;
    margin: 0;
}

.news_left {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 0;
}

.news_right {
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 6px;
}

#Evidenza .news_right a img, .news_left a img {
    width: 100%;
    height: 100%;
    max-width: 316px;
    max-height: 178px;
}


.text_left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

.side {
    display: flex;
    float: right;
    width: 33%;
    height: 1224px;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    margin-left: 16px;
}

.space {
    width: 100%;
    justify-content: center;
    padding: 8px;
    line-height: 1;
    background-color: white;
}

#Evidenza div.side section div.news_colomn a img{
    width: 100%;
    height: 100%;
    max-width: 318px;
    max-height: 179px;
}

.Cultura {
    display: flex;
    flex-direction: row;
    background-color: #063A74;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid;
    border-color: #CBCFD3;
}

.Cultura div {
    width: 12px;
    height: 24px;
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    line-height: 1.2;
}

.text_Cultura {
    margin: 0;
    font-weight: 400;
    line-height: 1.334;
    text-align: right;
    color: white;
    padding-right: 8px;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    font-size: 1.25rem;
}

.side section {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e6e6e6;
    padding-top: 4px;
    padding-bottom: 3px;
}

.side div.news_colomn {
    margin-top: 4px;
    padding: 8px;
    width: 100%;
}

.side div.news_colomn div {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding-bottom: 12px;
    margin-bottom: 16px;
    line-height: 1.2;
}

.red_button {
    display: flex;
    justify-content: center;
    line-height: 1.75;
}

.square_red_button {
    padding: 6px 16px;
    font-weight: 500;
    font-size: 0.875rem;
    min-width: 64px;
    max-width: 170px;
    background-color: #921421;
    color: white;
}

#LaNuovaScuola {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid;
    box-sizing: border-box;
}

#LaNuovaScuola a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LaNuovaScuola a div.center {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #063A74;
}

#LaNuovaScuola img {
    width: 100%;
    height: auto;
    max-width: 958px;
    display: block;
    object-fit: contain;
}

#Sport{
    border-color: #8c8e91;
}

#ItaliaMondo, #Economia, #SpecEnog{
    border-color: #CBCFD3;
}

#Sport, #ItaliaMondo, #Economia {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 4px;
    border-bottom: 1px solid;
    box-sizing: border-box;
    line-height: 1.2;
}

.imgSportivaPrinc{
    width: 100%;
    height: 100%;
    max-width: 481px;
    max-height: 270px;
}

.imgSportivaSec{
    width: 100%;
    height: 100%;
    max-width: 236px;
    max-height: 133px;
}

.news_block {
    width: 100%;
    margin-top: 4px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.news_colomn_twin {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    flex-direction: row;
    padding-right: 6px;
    padding-left: 0;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 50%;
}

.news_button_pad{
    padding-bottom: 12px;
    margin-bottom: 16px;
}

#Sport div.news_colomn_twin div.text_left {
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding-bottom: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

div.news_colomn_twin a {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    padding: 0;
    border: 0;
}

.link_secondario {
    display: flex;
    align-items: baseline;
    margin: 0;
    margin-top: 8px;
    font-family: Utopia-Regular, serif;
    line-height: 1.2;
    color: #063A74;
    font-weight: 400;
    font-size: 1rem;
}

.link_secondario a {
    color: #063A74;
}

.white_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-top: 4px;
    width: 100%;
    line-height: 1.2;
}

.white_button button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    color: black;
    box-shadow: none;
    font-family: ITCFranklinGothicStd-Book, serif;
    border-radius: 0;
}

.white_button button:hover {
    background-color: rgb(128 128 128 / 0.44);
}

.ad{
    width: 100%;
    height: 100%;
    max-width: 974px;
    max-height: 509px;
}

.blue_box {
    background-color: #063A74;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 96px;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 4px;
    align-items: center;
}

.title_white {
    color: white;
    margin: 0;
}


.title_white_opacity {
    color: white;
    opacity: 66%;
    margin: 0;
}

h6.title_white {
    font-size: 1.1429rem;
    margin: 0;
}

h2.title_white, h2.title_white_opacity {
    line-height: 1.75;
    font-size: 2.90rem;
    font-weight: 400;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
}

#UltimiVideo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #921421;
    margin-top: 20px;
    border-bottom: 1px solid;
    border-color: #8c8e91;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

#UltimiVideo h4 {
    font-size: 1.4993rem;
}

#UltimiVideo article {
    margin-top: 8px;
}

#UltimiVideo button{
    color: white;
}

#UltimiVideo h2 {
    color: white;
    margin-top: 4px;
}

.last_video {
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
    position: relative;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
}

.last_video a {
    float: left;
    width: 100%;
    min-height: 1px;
    padding: 8px;
}

.last_video a div img {
    width: 100%;
    height: 100%;
    max-width: 228px;
    max-height: 128px;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    bottom: 16px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50px;
    background-color: white;
}

#SpecEnog{
    border-bottom: 1px solid;
}

#Iniziative{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    margin-top: 4px;
    line-height: 1.2;
    border-bottom: 1px solid;
    border-color: #8c8e91;
}

.little_news {
    max-width: 66%;
    margin-top: 4px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.little_news  a div img {
    height: 100%;
    max-width: 228px;
    max-height: 128px;
}

.little_news_left{
    flex-basis: 33%;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-left: 0;
}

.little_news_right {
    flex-basis: 33%;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 6px;
}


.little_news_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    flex-basis: 100%;
    line-height: 1.2;
    margin-top: 4px;
    width: 66%;
    flex-grow: 0;
    box-sizing: border-box;

}

.little_news_list_a {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    padding: 0;
    border: 0;
    flex-basis: 33%;
    flex-grow: 0;
    max-width: 100%;
}

#Misto {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #8c8e91;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    line-height: 1.2;
}

#Misto div.left {
    display: flex;
    flex-direction: column;
    width: 66%;
    align-items: center;
}

#Misto div.right {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    margin-left: 16px;
    line-height: 1.2;
}

.news_block_interv {
    width: 100%;
    margin-top: 4px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.news_block_interv_left {
    flex-grow: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: row;
    flex-basis: 66%;
    max-width: 66%;
    padding-right: 6px;
    padding-left: 0;
    padding-bottom: 12px;
}

.news_block_interv_left a img{
    width: 100%;
    height: 100%;
    max-width: 426px;
    max-height: 240px;
}

.news_block_interv_right {
    flex-grow: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: row;
    flex-basis: 33%;
    max-width: 33%;
    padding-right: 0;
    padding-left: 6px;
}

.news_block_interv_right img {
    width: 100%;
    height: 100%;
    max-width: 228px;
    max-height: 128px;
    display: block;
}

#Misto div.news_slide_single img{
    width: 100%;
    height: 100%;
    max-width: 201px;
    max-height: 113px;
}

#Interviste{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4px;
    line-height: 1.2;
}

.borded {
    border: 1px solid #cbcfd3;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 0;

}

.borded h5 {
    text-align: right;
    color: #063A74;
    font-size: 1.4993rem;
    padding: 8px;
    border-bottom: 1px solid #cbcfd3;
}

.borded h2 {
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    width: 100%;
}

.footer_block {
    width: 100%;
    max-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

footer div.clear-box {
    display: flex;
    justify-content: left;
}

.social_big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding: 8px;
    line-height: 1.2;
}

footer div.blue {
    display: flow-root;
    background-color: #063A74;
    color: white;
}

.clear-box {
    display: flow-root;
}

@media (min-width: 900px) {
    header div.red_button button.left{
        display: none;
    }

    #logo-grid a.menu{
        display: none;
    }

    .media_short{
        display: none;
    }
}

@media (max-width: 899px) {

    .media_short_flex {
        display: flex;
        flex-direction: column;
    }

    body{
        padding: 0;
        margin: 0;
        width: auto;
    }

    header{
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-bottom: 1px solid #cbcfd3;
        margin-right: 0;
        margin-left: 0;
    }

    .width_page{
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .media_long{
        display: none;
        margin-right: 0;
        margin-left: 0;
    }

    span{
        font-size: 1.1429rem;
        margin: 0;
        font-weight: bold;
        text-align: center;
        color: #921421;
        margin-right: 0;
        margin-left: 0;
    }

    .text_big {
        margin: 4px 0px 0px;
        font-size: 1.8219rem;
        margin-right: 0;
        margin-left: 0;
    }

    .text_small {
        margin: 0;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }

    .autore{
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }

    header div.red_button button{
        background-color: #921421;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-right: 0;
        margin-left: 0;
    }

    #logo-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 8px;
    }

    #logo-grid div.center img{
        margin-right: 8px;
    }

    #logo-grid img{
        margin: 0;
    }

    .accedi-abbonati{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

    }

    #logo-grid div.accedi-abbonati img{
        align-items: center;
        max-width: 50%;
        margin-right: 10px;
    }


    #PrimoPianoNews{
        padding: 0;
        border: none;
    }

    .PPNgrande  , .PPNpiccolo {
        float: none;
        max-width: 100%;
        padding: 0;
        width: 100%;
    }

    div.PPNgrande a article{
        text-align: center;
    }

    .PPNgrande h2{
        margin: 4px 0px 0px;
        font-size: 1.8219rem;
        text-align: center;
    }

    .PPNgrande a img{
        margin-top: 4px;
        padding-bottom: 12px;
        width: 100%;
        height: 100%;
        max-width: 867px;
        max-height: 487px;
    }

    .PPNpiccolo {
        height: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        max-width: 100%;
        border: 0;
    }

    .PPNpiccolo a {
        max-width: 100%;
        margin: 0;
        margin-top: 4px;
        padding: 16px;
        height: 100%;
        text-decoration: none;
        border-bottom: 1px solid;
        border-color: #CBCFD3;
    }

    .PPNpiccolo a h2{
        text-align: left;
        margin-top: 4px;

    }

    .PPNpiccolo a img{
        margin: 0;
        padding-bottom: 12px;
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 487px;
    }

    #PrimoPianoNewsMinor {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 4px;
        height: 100%;

    }

    .news_slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .news_slide_single {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #cbcfd3;
        border-radius: 0;
        margin: 4px 0px 0px;
        padding: 0;
        line-height: 1;
        height: 100%;
        text-decoration: none;
    }

    .news_slide_single a {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        border-radius: 0;
        margin: 4px 0px 0px;
        border: 0;
        line-height: 1;
        height: 100%;
    }

    .news_slide_single article {
        margin: 8px 0px 0px;
    }

    .news_slide_single a img{
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 487px;
    }

    .news_slide_single h2 { /*da cambiare*/
        margin-top: 4px;
    }

    #Network {
        width: 100%;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #Network h5{
        text-align: center;
    }

    .network_slide {
        gap: 20px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 8px;
        width: 100%;
    }

    #Network .media_short {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 1px;
        padding: 8px;
        line-height: 1.2;
        margin: 0;
    }

    #Network .network_slide_single {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 1px;
        padding: 8px;
        line-height: 1.2;
        background-color: #063A74;
        margin: 0;
    }

    .network_slide_single a img {
        display: block;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 80px;
    }

    h5 {
        text-align: center;
    }

    .long{
        display: flex;
        flex-direction: column;
        float: none;
        width: 100%;
    }

    .side {
        display: flex;
        float: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        line-height: 1.2;
        margin: 0;
    }

    .space {
        width: 100%;
        line-height: 1;
        background-color: white;
    }

    .equa_divisione{
        width: 100%;
    }

    div.equa_divisione img{
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 505px;

    }

    #Evidenza a{
        padding-right: 0;

    }

    section.smaller a{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding-bottom: 12px;
        padding-right: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    section.smaller a article{
        margin-left: 11px;
    }

    section.greater div.news_colomn{
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding-bottom: 12px;
        padding-right: 6px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    #Evidenza {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-top: 8px;
        padding-bottom: 4px;
        background-color: white;
        line-height: 1.2;
        align-items: flex-start;
    }

    #Evidenza .news_right a img, .news_left a img {
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 505px;
    }

    section.greater a article{
        margin-left: 11px;
    }

    .news_left {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding-bottom: 12px;
        padding-right: 6px;
        padding-left: 0;
    }

    .news_right {
        flex-basis: 1000%;
        flex-grow: 0;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding-bottom: 12px;
        padding-right: 0;
        padding-left: 6px;
    }

    #Evidenza section.video div.video_slide a{
        padding: 8px;
        margin: 0;
    }

    #Evidenza section.video div.video_slide a img{
        margin: 8px 0px 0px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 417px;
        max-height: 235px;
    }

    #Evidenza div.side section div.news_colomn a img{
        width: 100%;
        height: 100%;
        max-width: 851px;
        max-height: 478px;
    }

    #LaNuovaScuola a {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #LaNuovaScuola div.media_short,
    #LaNuovaScuola a div.center {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 8px;
        box-sizing: border-box;
    }

    #LaNuovaScuola img {
        width: 100%;
        height: auto;
        max-width: 899px;
        display: block;
    }

    #LaNuovaScuola div.media_short {
        padding: 0;
    }

    #Sport div.news_colomn_twin div{
        text-align: center;
    }

    #Sport div.news_colomn_twin div div.link_secondario, #Sport div.news_colomn_twin div article{
        text-align: left;
    }

    #Sport div.news_block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap;
        flex-basis: 100%;
        flex-grow: 0;
        margin: 0;
    }

    .news_colomn_twin {
        width: 100%;
        max-width: 100%;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap;
        flex-basis: 100%;
        flex-grow: 0;
        padding-bottom: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    #Sport div.news_colomn_twin{
        border-bottom: 1px solid #cbcfd3;
    }

    .imgSportivaPrinc{
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 506px;
    }

    #ItaliaMondo .news_slide {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #ItaliaMondo .news_slide a {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 12px;
    }


    #ItaliaMondo .news_slide_single{
        margin-top: 4px;
        margin-left: 0;
        margin-right: 0;
    }

    #ItaliaMondo .news_slide_single.only_media_short{
        padding: 16px;
    }

    #ItaliaMondo .news_slide_single a div img {
        width: 100%;
        height: auto;
        max-width: 899px;
        max-height: 506px;
    }


    #ItaliaMondo .only_media_short a {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        margin: 0;
        border: 0;
    }

    #ItaliaMondo .only_media_short a div,
    #ItaliaMondo .only_media_short a article {
        width: 50%;
        box-sizing: border-box;
    }

    #ItaliaMondo .only_media_short a article {
        padding-left: 10px;
    }

    #ItaliaMondo .only_media_short a div img {
        max-width: 429px;
        max-height: 241px;
    }

    #ItaliaMondo .news_slide_single h2 {
        margin-top: 4px;
    }


    /*da modificare*/

    .clear-box{
        display: flex;
        flex-direction: column;
    }

    #Economia div.news_block{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #Economia div.news_block div.news_colomn_twin a{
        text-align: center;
    }

    #Economia div.news_block div.news_colomn_twin div.link_secondario a{
        text-align: left;
    }

    #Economia div.text_left article{
        text-align: left;
    }

    #Economia img.imgSportivaPrinc{
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 506px;
    }

    #Economia div.news_colomn_twin{
        border:0 ;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #CBCFD3;
    }

    #Economia div.news_colomn_twin div.link_secondario{
        text-align: left;
    }

    #SpecEnog div.news_colomn_twin div article{
        text-align: center;
    }

    #SpecEnog div.news_colomn_twin div div.link_secondario{
        text-align: left;
    }

    #SpecEnog div.text_left article.equa_divisione{
        text-align: left;
    }

    .last_video {
        display: flex;
        justify-content: space-between;
        padding: 0 6px;
        position: relative;
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.2;
    }

    .last_video a {
        float: left;
        height: 100%;
        min-height: 1px;
        padding: 8px;
    }

    .last_video a div img {
        width: 100%;
        height: 100%;
        max-width: 434px;
        max-height: 200px;
    }

    .little_news {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .little_news_list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .little_news_left{
        border-bottom:1px solid #cbcfd3;
    }

    .little_news_left a div img {
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 506px;
    }

    .little_news_right{
        flex-basis: 100%;
        margin-top: 4px;
        padding: 16px;
    }

    .little_news_right a div img {
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 506px;
    }

    .little_news_right a.little_news_list_a div {
        width: 50%;
        height: auto;
    }

    .little_news_right a.little_news_list_a article {
        width: 50%;
        max-width: 429px;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .little_news_right a.little_news_list_a {
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
    }

    .little_news_list_a{
        display: flex;
        flex-direction: column;
        border-radius: 0;
        padding: 0;
        border: 0;
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }

    #Misto {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid;
        border-color: #8c8e91;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-bottom: 4px;
        line-height: 1.2;
    }

    #Misto a.attivita_sociali img{
        width: 100%;
        height: 100%;
        max-width: 820px;
        max-height: 312px;
    }

    #Misto div.left {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #Misto div.right {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-left: 16px;
        line-height: 1.2;
    }

    #Misto div.news_slide_single img{
        width: 100%;
        height: 100%;
        max-width: 201px;
        max-height: 113px;
    }

    .news_block_interv {
        width: 100%;
        margin-top: 4px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .news_block_interv {
        text-align: center;
    }

    .news_block_interv_left a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .news_block_interv_left {
        flex-basis: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #cbcfd3;
        padding-right: 0;
    }

    .news_block_interv_left div.link_secondario {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: auto;
    }

    .news_block_interv_left div.link_secondario a {
        text-decoration: none;
        line-height: 1.3;
    }

    .news_block_interv_left a article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .news_block_interv_left a img{
        width: 100%;
        height: 100%;
        max-width: 899px;
        max-height: 505px;
    }

    .news_block_interv_right {
        flex-grow: 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;
        flex-direction: row;
        flex-basis: 100%;
        max-width: 1000%;
        padding-right: 0;
        padding-left: 6px;
        text-align: left;
    }

    .news_block_interv_right a{
        margin-top: 5px;
        padding: 5px;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .news_block_interv_right a span.autore{
        text-align: left;
    }

    .news_block_interv_right img {
        width: 100%;
        height: 100%;
        max-width: 429px;
        max-height: 241px;
        display: block;
    }

    .news_block_interv_right div{
        width: 50%;
        height: auto;
    }

    .news_block_interv_right article {
        width: 50%;
        max-width: 429px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #Misto section.news_slide{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #cbcfd3;
    }

    #Misto section.news_slide img {
        width: 100%;
        height: 100%;
        max-width: 434px;
        max-height: 244px;
    }

    #Misto div.right{
        margin: 0;
    }

    #Misto section.news_slide div.news_slide{
        border-bottom: 0;
    }

    #SaniBelli div.news_slide{
        display: flex;
        flex-direction: row;
    }

    #SaniBelli div.news_slide_single{
        margin: 0;
        padding: 8px;
        border: 0;
    }

    #SaniBelli img{
        width: 100%;
        height: 100%;
        max-width: 434px;
        max-height: 244px;
    }

    .social_big{
        display: flex;
        flex-direction: column;
    }

    .edition ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .edition li {
        width: 100%;
        padding: 12px 0;
        list-style-type: none;
        text-align: center;
    }

    .edition li a {
        display: block;
    }

    .borded {
        border-top: 1px solid ;
        border-bottom: 1px solid ;
        border-left:  0;
        border-right: 0 ;
        border-color:#cbcfd3;
    }

}